body{
	background : #BCE0A8 url(../images/bg3.png) no-repeat;
	background-size: cover;
}

.table-responsive{
	padding: 0 3% 0 3%;
}

.table{
	text-align: center;
	vertical-align: middle;
}

h2{
	text-align: center;
	padding-bottom: 2%;
}

.table-striped>tbody>tr:nth-of-type(odd) {
    background-color: #e0e0e0;
}

.btn-ajoutContrat{
	margin :0 0 2% 3%;
}

.form-ajout{
	margin-left: 40%;
	margin-right: auto;
}

.row{
	padding: 0 0 1% 0;
}

table.fixed { table-layout:auto;  }
table.fixed td {   word-wrap:break-word; text-align: center; max-width: 10%;}
table.fixed th {   word-wrap:break-word; text-align: center; max-width: 100px;}
table.fixed th select{
	width: 100%;
	text-align: center;
}